description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="{{ 'assets/css/style.css'|theme}}" rel="stylesheet">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{'assets/images/icon.png'|theme}}">
        <title>{{this.page.title}}</title>
        {% styles %}
    </head>
    <body>
        
        {% partial 'header' %}


        <div class="page">
            {% page %}
        </div>
        <!-- Scripts -->
        <script src="{{'https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js'|theme}}"></script>
  
        <script src="{{'assets/javascript/jquery.js'|theme }}"></script>
        {% framework %}

        {% framework extras %}
        {% scripts %}
    </body>
</html>